@font-face {
  font-family: 'RedHat Display';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local(''),
    url(/assets/fonts/redhat-display/redhatdisplay-regular-webfont.woff2) format('woff2'),
    url(/assets/fonts/redhat-display/redhatdisplay-regular-webfont.woff) format('woff');
}

@font-face {
  font-family: 'RedHat Display';
  font-style: italic;
  font-display: swap;
  font-weight: normal;
  src: local(''),
    url(/assets/fonts/redhat-display/redhatdisplay-italic-webfont.woff2) format('woff2'),
    url(/assets/fonts/redhat-display/redhatdisplay-italic-webfont.woff) format('woff');
}

@font-face {
  font-family: 'RedHat Display';
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: local(''),
    url(/assets/fonts/redhat-display/redhatdisplay-bold-webfont.woff2) format('woff2'),
    url(/assets/fonts/redhat-display/redhatdisplay-bold-webfont.woff) format('woff');
}

@font-face {
  font-family: 'RedHat Display';
  font-style: italic;
  font-display: swap;
  font-weight: bold;
  src: local(''),
    url(/assets/fonts/redhat-display/redhatdisplay-bolditalic-webfont.woff2) format('woff2'),
    url(/assets/fonts/redhat-display/redhatdisplay-bolditalic-webfont.woff) format('woff');
}

@font-face {
  font-family: 'RedHat Text';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local(''),
    url(/assets/fonts/redhat-text/redhattext-regular-webfont.woff2) format('woff2'),
    url(/assets/fonts/redhat-text/redhattext-regular-webfont.woff) format('woff');
}

@font-face {
  font-family: 'RedHat Text';
  font-style: italic;
  font-display: swap;
  font-weight: normal;
  src: local(''),
    url(/assets/fonts/redhat-text/redhattext-italic-webfont.woff2) format('woff2'),
    url(/assets/fonts/redhat-text/redhattext-italic-webfont.woff) format('woff');
}

@font-face {
  font-family: 'RedHat Text';
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: local(''),
    url(/assets/fonts/redhat-text/redhattext-bold-webfont.woff2) format('woff2'),
    url(/assets/fonts/redhat-text/redhattext-bold-webfont.woff) format('woff');
}

@font-face {
  font-family: 'RedHat Text';
  font-style: italic;
  font-display: swap;
  font-weight: bold;
  src: local(''),
    url(/assets/fonts/redhat-text/redhattext-bolditalic-webfont.woff2) format('woff2'),
    url(/assets/fonts/redhat-text/redhattext-bolditalic-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local(''),
    url(/assets/fonts/fira-mono/firamono-regular-webfont.woff2) format('woff2'),
    url(/assets/fonts/fira-mono/firamono-regular-webfont.woff) format('woff');
}
