.card {
  background: var(--color-dark);
  border: 4px solid var(--color-dark);
  color: var(--color-light);
  padding: var(--space-m-l);
  border-radius: var(--border-radius);
  max-inline-size: unset;
  display: flex;
  flex-direction: column;
}

.card ::selection {
  color: var(--color-dark);
  background: var(--color-secondary);
}

.card h2 {
  font-size: var(--size-step-3);
}

.card h2 a,
.card h3 a {
  text-decoration: none;
}

.card:hover,
.card:focus-within {
  border: 4px solid var(--color-primary);
}

.card a {
  text-decoration: none;
}

/* 'clickable' */

.card:focus-within a:focus {
  outline: none;
}
.card {
  position: relative;
}
.card a:after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
