.cta-row {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding: 1em;
    text-align: center;
    background-color: var(--color-boxes);
    border-radius: .5em;
    border: 4px solid var(--color-boxes);
}

.cta ::selection {
    color: var(--color-dark);
    background: var(--color-secondary);
}

.cta:hover,
.cta:focus-within {
    border: 4px solid var(--color-primary);
}

.cta-icon,
.cta-title {
    color: var(--color-primary);
}

.cta-icon {
    font-size: 2.5em;
}

.cta-link {
    margin-top: 1em;
}

.cta-link a {
    display: block;
    padding: .5em 1em;
    color: var(--color-light);
    background-color: var(--color-primary);
    border-radius: .5em;
    text-decoration-line: none;
}

/* 'clickable' */

.cta:focus-within a:focus {
    outline: none;
}
    
.cta {
    position: relative;
}

.cta a:after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

@media screen(md) {
    .cta-wrapper {
        --wrapper-max-width: 110rem;
    }

    .cta-row {
        flex-direction: row;
    }

    .cta-text {
        flex: 1;
    }
}
