.gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(30%, 1fr));
    grid-gap: .625em;
    justify-items: center;
    align-items: center;
}

.gallery a.glightbox::after {
    content: unset;
}

@media screen(md) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    }
}
