.main-head {
    background-image: url('/assets/images/tasti-small.webp');
    background-size: cover;
    background-position: 20%;
    padding-bottom: var(--divider-size);
    position: relative;
}

.main-head svg {
    position: absolute;
    bottom: -1px;
}

@media screen(md) {
    .main-head {
        background-image: url('/assets/images/tasti-large.webp');
        background-position: 0;
    }
}
