.region img {
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
  border: 1px solid var(--color-dark);
}

.region img.no-border {
  border: 0;
}

.region figure figcaption {
  font-style: italic;
  font-size: var(--size-step-0);
  position: relative;
}

.region figure figcaption::before {
  content: '—';
  display: inline;
}

.region figure figcaption * {
  display: inline;
  margin-inline-start: .5em;
}

.region .figure-container {
  display: flex;
  justify-content: center;
}

.region figure {
  width: 100%;
}

.region iframe {
  aspect-ratio: 3 / 4;
  width: 100%;
}

@media screen(md) {
  .region figure {
    width: fit-content;
  }

  .region iframe {
    aspect-ratio: 4 / 3;
    width: min(40rem, var(--wrapper-max-width));
  }
}
