.section__inner {
  min-height: 13em;
  color: var(--color-light);
  display: flex;
  align-items: center;
}

.section blockquote {
  font-weight: 700;
  line-height: 1;
  font-size: var(--size-step-4);
  letter-spacing: var(--tracking-s);
}

.section :is(h1, h2, h3, blockquote) {
  opacity: 95%;
}

@media screen(md) {
  .section__inner {
    min-height: 22em;
  }
}
