.site-caption {
    text-transform: uppercase;
    text-align: right;
}

.site-caption h2 {
    font-size: var(--size-step-3);
}

.site-caption h2:last-child {
    margin-top: .75em;
    color: var(--color-primary);
}
