.site-foot {
  padding: var(--space-s-m);
  background: var(--color-dark);
  color: var(--color-light);
}

.site-foot__inner {
  display: flex;
  gap: var(--space-s);
  justify-content: center;
  align-items: center;
}

:not(nav#footer-social).site-foot__inner {
  flex-wrap: wrap;
}

.site-foot svg {
  block-size: 0.9em;
  inline-size: 0.9em;
}

.site-foot a {
  text-decoration: none;
}

.site-foot a:hover {
  color: var(--color-light);
}
