.region.social {
    --region-space-top: var(--space-s);
    padding-block-end: 0;
}

.social {
    --mail-background: #23a356;
    --telegram-background: #2ca5e0;
    --mailing-list-background: #5b4f9a;
    --youtube-background: #cd201f;
    --facebook-background: #3b5998;
}

.social__inner {
    display: flex;
    flex-direction: column;
}

.social-icon {
    display: flex;
    justify-content: center;
    padding: .625em 0;
    color: var(--color-light);
    font-size: 1.25em;
    text-decoration-line: none;
}

.social-icon:hover {
    color: var(--color-light);
}

.social-icon.mail {
    background-color: var(--mail-background);
}

.social-icon.telegram {
    background-color: var(--telegram-background);
}

.social-icon.mailing-list {
    background-color: var(--mailing-list-background);
}

.social-icon.youtube {
    background-color: var(--youtube-background);
}

.social-icon.facebook {
    background-color: var(--facebook-background);
}

@media screen(md) {
    .social__inner {
        flex-direction: row;
        justify-content: center;
        column-gap: 2em;
    }

    .social-icon {
        margin: .5em 0;
        padding: .25em .25em;

        border-radius: 10%;

        font-size: 2em;
    }

    .social-icon:hover {
        color: var(--color-light);
        animation: 1.2s linear 0s infinite shake;
    }

    @keyframes shake {
        0%{ transform: rotate(-15deg) }
        10%{ transform: rotate(15deg) }
        20%{ transform: rotate(-18deg) }
        30%{ transform: rotate(18deg) }
        40%{ transform: rotate(-22deg) }
        50%{ transform: rotate(22deg) }
        60%{ transform: rotate(-18deg) }
        70%{ transform: rotate(18deg) }
        80%{ transform: rotate(-12deg) }
        90%{ transform: rotate(12deg) }
    }
}
