.tag {
    color: var(--color-dark);
    background-color: var(--color-light);
    padding: .25em;
    border-radius: var(--border-radius);
}

.tag.inverted {
    color: var(--color-light);
    background-color: var(--color-dark);
}
