.gradient-text {
  color: transparent;
  background: conic-gradient(
    var(--color-primary) 0 33%,
    var(--color-secondary) 0 55%,
    var(--color-secondary-glare) 0 70%,
    var(--color-tertiary) 0 87%,
    var(--color-secondary) 0 100%
  );
  padding: 0.6rem 0;
  background-size: 50%;
  background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-dark);
}
