{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="{{ meta.lang }}">
  <head>
    <!-- charset/http-equiv/viewport -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- title -->
    <title>
    {% set activePage = page.url | url %}
    {% if activePage !== '/' %}
      {% if seo.title %}
        {{ seo.title }} | {{ meta.siteName }}
      {% elif title %}
        {{ title }} | {{ meta.siteName }}
      {% endif %}
    {% else %}
      {{ meta.siteName }}
    {% endif %}
    </title>

    {% if gallery %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/css/glightbox.min.css" />
    {% endif %}

    <link rel="stylesheet" href="/assets/css/line-awesome.min.css?{{ assetHash }}" />
    <link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" />

    <!-- preloads -->
    <link
      rel="preload"
      href="/assets/fonts/redhat-display/redhatdisplay-bold-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/redhat-text/redhattext-regular-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/fira-mono/firamono-regular-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- preloads in page data -->
    {% if preloads -%}
    <!-- prettier-ignore -->
    <link rel="preload"
            href="{{ preloads.href }}"
            as="{{ preloads.as }}"
            {% if preloads.type %}type={{ preloads.type }}{% endif %}{% if preloads.imagesrcset %}imagesrcset="{{ preloads.imagesrcset }}" {% endif %}
            {% if preloads.crossorigin %}crossorigin{% endif %} />
    {% endif %}

    <!-- defered js  -->
    <script type="module" src="/assets/js/alpine.js?{{ assetHash }}" defer></script>

    <!-- everything else: meta tags, icons, open graph etc.  -->
    {% include "partials/meta-info.njk" %}
  </head>

  <body>
    <!-- header -->
    {% include "partials/header.njk" %}

    <!-- content slot -->
    <main id="main" class="flow">{{ content | safe }}</main>

    <!-- footer -->
    {% include "partials/footer.njk" %}

    <!-- youtube if actvated in yaml -->
    {% if youtube %}
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.4.0/lite-youtube.min.js"
    ></script>
    {% endif %}
    
    <!-- gallery if actvated in yaml -->
    {% if gallery %}
    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/glightbox@3.2.0';
        const lightbox = GLightbox({});
    </script>
    {% endif %}
  </body>
</html>
