---
layout: base
---

<article class="region page">
  <div class="wrapper flow prose">
    <h1 class="gradient-text" id="{{ title | slugify }}">{{ title }}</h1>
    {{ content | safe }}
  </div>
</article>
