---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog">
  <div class="wrapper flow prose">
    <h1 class="gradient-text" id="{{ title | slugify }}">{{ title }}</h1>
    {% set definedDate = date %}
    {% include "partials/date.njk" %}
    <div class="less-margin">
    {% set tag_class = "inverted" %}
    {% include "partials/tags.njk" %}
    </div>

    {{ content | safe }}
  </div>
</article>
