---
title: Attività
permalink: /activities/index.html
description: Le nostre attività come incontri, mezz'ore d'amicizia e LinuxDay 
layout: page
---
<h2 id="mezzore">
    <i class="las la-hourglass-half"></i>
    <a class="heading-anchor" href="#mezzore">
        Mezz'ore d'Amicizia
    </a>
</h2>
<ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.mezzore | reverse %}
    {% for post in postslist %}
    {% include 'partials/article-card.njk' %}
    {% endfor %}
</ul>

<h2 id="linuxday">
    <i class="lab la-linux"></i>
    <a class="heading-anchor" href="#linuxday">
        LinuxDay
    </a>
</h2>
<ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.linuxday | reverse %}
    {% for post in postslist %}
    {% include 'partials/article-card.njk' %}
    {% endfor %}
</ul>


<h2 id="incontri">
    <i class="lar la-handshake"></i>
    <a class="heading-anchor" href="#incontri">
        Incontri
    </a>
</h2>
<ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.incontri | reverse %}
    {% for post in postslist %}
    {% include 'partials/article-card.njk' %}
    {% endfor %}
</ul>
