---
layout: base
permalink: /index.html
title: Home
header:
    - "Libertà di\ncopiare,\nmodificare,\ndistribuire,\neseguire,\nstudiare."
    - "Software Libero"
---

<header class="section main-head">
  <div class="section__inner">
    <div class="wrapper flow region">
      <section class="site-caption prose">
        {%- for item in header %}
        <h2 class="fade-in text-shadow" id="{{ item | slugify }}">
          {{ item | nl2br | safe }}
        </h2>
        {%- endfor %}
      </section>
    </div>
  </div>

  {% include 'svg/divider-waves.svg' %}
</header>

{% include "partials/cta.njk" %}

<article class="region" style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose">
    <h2 id="ultimi-articoli">Ultimi articoli</h2>
  </div>

  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.posts %}
    {% for post in postslist.slice(0, 6) %}
    {% set header_tag = "h3" %}
    {% include 'partials/article-card.njk' %}
    {% endfor %}
  </ul>
</article>
