---
layout: base
title: Articoli
permalink: /posts/index.html
---

<header class="section main-head">
  <div class="section__inner">
    <div class="wrapper flow region">
      <section class="prose text-center">
        <h1 class="fade-in text-shadow">{{ title }}</h1>
      </section>
    </div>
  </div>
  
  {% include 'svg/divider-edgy.svg' %}
</header>

<article class="wrapper region">
  <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.posts %}
    {% for post in postslist %}
    {% include 'partials/article-card.njk' %}
    {% endfor %}
  </ul>
</article>
