{% if not header_tag %}
{% set header_tag = "h2" %}
{% endif %}
{% set header_start_tag = ["<", header_tag, ">" ] | join %}
{% set header_end_tag = ["</", header_tag, ">" ] | join %}
<li class="card flow overflow-hidden">
    {{ header_start_tag | safe }}
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    {{ header_end_tag | safe }}
    {% set definedDate = post.date %}
    <span class="less-margin">{%- include "partials/date.njk" %}</span>
    {% if post.data.tags %}
    {% set tags = post.data.tags %}
    <span class="less-margin">{%- include "partials/tags.njk" %}</span>
    {% endif %}
    {% if post.data.description %}
    <p>{{ post.data.description }}</p>
    {% else %}
    <p>{{ post.content | excerpt }}</p>
    {% endif %}
</li>
