<article class="region">
  <div class="wrapper flow cta-wrapper">
    <div class="cta-row">
        {% for item in cta %}
        {% set cls = "clip-start clip-end" %}
        {% if loop.first %}
        {% set cls = "clip-end" %}
        {% endif %}
        {% if loop.last %}
        {% set cls = "clip-start" %}
        {% endif %}
        <div class="cta {{ cls }}">
            <div class="cta-icon">
                <i class="{{ item.icon }}"></i>
            </div>
            <div class="cta-title">
                <h3 id="{{ item.title | slugify }}">{{ item.title }}</h3>
            </div>
            <div class="cta-text prose">
                {% for text in item.text %}
                <p>{{ text | safe }}</p>
                {% endfor %}
            </div>
            <div class="cta-link">
                <a href="{{ item.link.url }}">{{ item.link.text }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</article>
