{% set activePage = page.url | url %}

<footer class="sticky top-[100vh]">
  {% include 'partials/social.njk' %}

  <div class="site-foot" role="contentinfo">
    <div class="wrapper">
      <div class="site-foot__inner">
        <nav id="footernav" class="site-foot__inner text-step-0" aria-label="Footer">
          &copy; {{ meta.siteName }} {{ meta.startYear }} - {% year %}
          {% for item in navigation.bottom %}
          <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
            {{ item.text }}
          </a>
          {% endfor %}
        </nav>

        <nav id="footer-social" class="site-foot__inner" aria-label="Social links">
          {% for item in social.footer %}
          {% if item.platform == "rss" %}
          <a href="{{ meta.url }}{{ locale }}{{ item.url }}" rel="alternate" type="application/rss+xml">
          {% else %}
          <a href="{{ item.url }}" rel="me">
          {% endif %}
            <span class="sr-only">{{ item.platform }}</span>
            <i aria-hidden="true" class="{{ item.icon }}"></i>
          </a>
          {% endfor %}
          </nav>
      </div>
    </div>
  </div>
</footer>


