<nav id="mainnav" class="navbar" aria-label="Main" x-data="{ menuOpen: false, loaded: false }" @keyup.escape="menuOpen = false" @click.outside="menuOpen = false">
  <button type="button" :aria-expanded="menuOpen || 'false'" aria-label="Menu" aria-controls="mainnav" @click="menuOpen = !menuOpen">
    <span class="bars"></span>
  </button>
  <ul class="no-anim-preload" :class="{ 'no-anim-preload': !loaded }" x-cloak x-init="$nextTick(() => { loaded = true })">
    {% for item in navigation.top %}
    <li>
      <a class="nav" href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
        {{ item.text }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
