<base href="{{ page.url }}" />

<meta
  name="description"
  {% if seo.description %}
  content="{{ seo.description }}"
  {% elif description %}
  content="{{ description }}"
  {% else %}
  content="{{ meta.siteDescription }}"
  {% endif %}
/>

<meta name="theme-color" content="{{ meta.themeColor }}" />
<meta name="robots" content="index,follow" /><!-- All Search Engines -->
<meta name="googlebot" content="index,follow" /><!-- Google Specific -->
<meta name="generator" content="{{ eleventy.generator }}" /><!-- thank you, Zach -->
<!-- Disable automatic detection and formatting of possible phone numbers -->
<meta name="format-detection" content="telephone=no" />
<!-- Helps prevent duplicate content issues -->
<link rel="canonical" href="{{ meta.url }}{{ page.url }}" />

<!-- Links to information about the author(s) of the document -->
<link rel="author" href="humans.txt" />

{% if meta.meta_data.mastodonProfile %}
<!-- Mastodon verified site -->
<link rel="me" href="{{ meta.meta_data.mastodonProfile }}" />
{% endif %}

<!-- Open Graph meta  -->
<meta property="og:url" content="{{ meta.url }}{{ page.url }}" />
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="{% if title %}{{ title }}{% else %}{{ meta.siteName }}{% endif %}"
/>
<meta
  property="og:image"
  content="{{ meta.url }}{% if (layout == 'post') %}/assets/images/social-preview/{{
    title | slugify
  }}-preview.jpeg
  {% else %}{{ meta.meta_data.opengraph_default }}
  {% endif %}"
/>
<meta
  property="og:image:alt"
  content="{% if (layout == 'post') %}{% else %}{{ meta.meta_data.opengraph_default_alt }}
{% endif %}"
/>
<meta
  property="og:description"
  content="{% if description %}{{ description }}{% else %}{{
    meta.siteDescription
  }}{% endif %}"
/>
<meta property="og:site_name" content="{{ meta.siteName }}" />
<meta property="og:locale" content="{{ meta.locale }}" />
<meta property="article:author" content="{{ meta.author }}" />

<!-- Twitter meta -->
<meta name="twitter:card" content="summary_large_image" />
{% if meta.meta_data.twitterSite %}
<meta name="twitter:site" content="{{ meta.meta_data.twitterSite }}" />
{% endif %} {% if meta.meta_data.twitterCreator %}
<meta name="twitter:creator" content="{{ meta.meta_data.twitterCreator }}" />
{% endif %}
<meta name="twitter:dnt" content="on" />

<!-- Favicon -->
<link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}" />
<link rel="icon" type="image/png" href="{{ '/favicon-32x32.png' | url }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ '/favicon-16x16.png' | url }}" sizes="16x16" />
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
<link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | url }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#ffffff">
