<nav id="social" class="region social" aria-label="Social links">
  <div class="social__inner">
    {%- for item in social.widget %}
    <a href="{{ item.url }}" aria-label="{{ item.platform }}" class="social-icon {{ item.class }}" rel="me">
        <span class="sr-only">{{ item.platform }}</span>
        <i aria-hidden="true" class="{{ item.icon }}"></i>
    </a>
    {%- endfor %}
  </div>
</nav>
